.header-container-black {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 30px;
}

.header-container-white {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin: 30px;
  color: white;
}
